<div class="post">



    <div class="wrapper">
      <div class="grid-uniform">

        {% case section.blocks.size %}
          {% when 0 %}
          {% when 1 %}
            {% assign column_width = 'text-center' %}
        {% endcase %}

        {% for block in section.blocks %}
          {% case block.type %}

          {% when 'text' %}
              <div class="grid__item {{ column_width }}">
                <div class="text-post {{ block.settings.alignment-text }}">
                  <div class="rte">{{ block.settings.text-post }}</div>
                </div>
              </div>

            {% when 'image_picker' %}
              <div class="grid__item {{ column_width }}">
                <div class="image-post {{ block.settings.alignment-image }}">
                  <img src="{{ block.settings.image-post | img_url: '1024x' }}">
                  <div class="caption">{{ block.settings.image-caption }}</div>
                </div>
              </div>

            {% when 'Video' %}
              <div class="grid__item {{ column_width }}">
                <div class="video-post {{ block.settings.alignment-video }}">
                  <div class="js-player" data-plyr-provider="vimeo" data-plyr-embed-id="{{ block.settings.vimeo-id }}"></div>
                </div>
              </div>

          {% endcase %}
        {% endfor %}

      </div>
    </div>
</div>

  {% schema %}
    {
      "name": "Post",
      "max_blocks": 20,
      "blocks": [
        {
          "type": "text",
          "name": "Text Post",
          "settings": [
            {
              "type": "text",
              "id": "text-post-header",
              "label": "Heading",
              "default": "Some Text"
            },
            {
              "type": "richtext",
              "id": "text-post",
              "label": "Text"
            },
            {
               "type": "radio",
               "id": "alignment-text",
               "options": [
                  { "value": "left", "label": "Left"},
                  { "value": "center", "label": "Center"},
                  { "value": "right", "label": "Right"},
                  { "value": "full", "label": "Full"}
               ],
               "label": "Align"
            }
          ]
        },
        {
          "type": "image_picker",
          "name": "Image Post",
          "settings": [
            {
              "type": "image_picker",
              "id": "image-post",
              "label": "Image Post"
            },
            {
               "type": "text",
               "id": "image-caption",
               "label": "Caption"
            },
            {
               "type": "radio",
               "id": "alignment-image",
               "options": [
                  { "value": "left", "label": "Left"},
                  { "value": "center", "label": "Center"},
                  { "value": "right", "label": "Right"},
                  { "value": "full", "label": "Full"}
               ],
               "label": "Align"
            }
          ]
        },
        {
          "type": "Video",
          "name": "Video Post",
          "settings": [
            {
              "type": "text",
              "id": "video-caption",
              "label": "Caption",
              "default": "Video Caption"
            },
            {
              "type": "text",
              "id": "vimeo-id",
              "label": "Vimeo Id"
            },
            {
               "type": "radio",
               "id": "alignment-video",
               "options": [
                  { "value": "left", "label": "Left"},
                  { "value": "center", "label": "Center"},
                  { "value": "right", "label": "Right"},
                  { "value": "full", "label": "Full"}
               ],
               "label": "Align"
            }
          ]
        }
      ]
    }
  {% endschema %}
